@themecolor: #ff5247;
@navbartopheight: 35px;
@navbarbottomheight: 35px;
a:hover, a:focus {
	text-decoration: none;
}
html,body {
	color: #000;
	height: 100%;
}
textarea {
	resize: none;
}
.app {
	height: 100%;
}
.app-content {
	background-color: #f4efee;
	padding-bottom: 35px;
}
.navbar-brand-center {
	width: 100%;
	text-align: center;
}
.wishwall-icon {
	font-size: 25px;
}
.wishwall-navbar-app {
	min-height: @navbartopheight;
	a.active {
		color: white;
	}
	.navbar-brand {
		height: @navbartopheight;
		padding: 0;
		a {
			height: @navbartopheight;
			line-height: @navbartopheight;
		}
	}
}
.wishwall-navbar-top {
	.btn {
		padding-top: 0;
		padding-bottom: 0;
	}
	.navbar-brand-right {
		width: 50%;
		text-align: center;
	}
	.navbar-brand-left {
		width: 50%;
		text-align: center;
	}
	margin-bottom: 0;
	background-color: @themecolor;
	border: none;
	color: rgba(255, 255, 255, .5);
	a {
		color: rgba(255, 255, 255, .5);
	}
}
.wishwall-navbar-app-bottom {
	border-top: 1px solid #eee;
	height: @navbarbottomheight+1;
	line-height: @navbarbottomheight;
	background-color: @themecolor;
	.btn-navbar {
		height: @navbarbottomheight;
		line-height: @navbarbottomheight;
		width: 19%;
		border: none;
		padding: 0;
	}
	.badge {
		position: absolute;
		padding: 0;
		width: 5px;
		height: 5px;
		display: inline-block;
		min-width: 0;
		top: 5px;
		background-color: @themecolor;
	}
	.select-box {
		position: absolute;
		display: none;
		bottom: 35px;
		left: 50%;
		transform: translate(-50%);
		.selection {
			width: auto;
			color: #fff;
			background-color: @themecolor;
			padding: 0 10px;
		}
	}
	
	background-color: white;
	.wishwall-icon-home {
		font-size: 25px;
	}
	i {
		height: @navbarbottomheight;
		line-height: @navbarbottomheight;
		color: rgba(0, 0, 0, .5);
	}
	.btn:active, .btn.active {
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	.active, .active-longer {
		i {
			color: @themecolor;
		}
	}
}



.auto-roll-img {
	.item {
		img {
			height: 110px;
		}
	}
	height: 110px;
}
.wishwall-section {
	.row {
		margin: 0;
	}
	padding-top: 8px;
	.wishwall-col-6:first-child {
		padding-left: 8px;
		padding-right: 4px;
	}
	.wishwall-col-6:last-child {
		padding-left: 4px;
		padding-right: 8px;
	}
	.wishwall-panel {
		.wish-content-img {
			width: 100%;
		}
		border: none;
		margin-bottom: 8px;
		border-radius: 4px;
	}
	.wishinfo-panel {
		padding: 10px 10px 0 10px;
	}
}
.yblesswall-section {
	.row {
		margin: 0;
	}
}
.blesswall-con {
	padding-left: 5px;
	padding-right: 5px;
	.blessimg-con img{
		width: 100%;
	}
}
.wishwall-panel-body, .blesswall-panel-body {
	padding: 0;
}
.headimg {
	background-image: url('/public/img/headimg56.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	vertical-align: inherit;
}
.username {
	display: inline-block;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
	color: #606060;
	vertical-align: top;
	margin-left: 5px;
}
.bless-username {
	font-size: 16px;
}
.school_area {
	font-size: 10px;
	font-weight: normal;
	color: gray;
	display: inline-block;
}
.wishborder {
	margin: 10px 0;
}
.wish_content {
	word-wrap: break-word;
	font-size: 12px;
}
.bless_content {
	word-wrap: break-word;
	margin: 16px 30px 10px 8px;
	font-size: 16px;
}
.wishwall-app-body {
	background-color: #f4efee;
	height: 100%;
}
.wishwall-section,.blesswall-section {
	background: none;
}
.wishwall-panel {
	margin-bottom: 5px;
	border-radius: 0;
}
.blesswall-panel {
	margin-bottom: 5px;
	border-radius: 0;
}
.wishwall-carousel-indicators {
	margin-bottom: 0;
	bottom: 0;
	li {
		width: 5px;
		height: 5px;
	}
	.active {
		width: 7px;
		height: 7px;
	}
}
.wishwall-list-group {
	margin-bottom: 0;

	.user-info-bg {
		height: 140px;
		padding: 19px 0 0 0;
		border: none;
		background-image: url('/public/img/1.jpg');
		background-size: cover;
		img.userheadimg {
			width: 55px;
			height: 55px;
			border-radius: 50%;
			background-image: url('/public/img/headimg56.png');
			background-size: cover;
		}
		span {
			position: absolute;
			color: #fff;
			font-weight: bold;
			margin-top: 5px;
			font-size: 8px;
		}
		.info_school_area {
			margin-right: 20px;
			position: absolute;
			left: 40%;
			transform: translate(-50%);
		}
		.info_college_name {
			margin-left: 20px;
			position: absolute;
			right: 40%;
			transform: translate(50%);
		}
	}
}


.userinfo-navbar-top {
	color: rgba(255, 255, 255, 1);
	.navbar-brand {
		line-height: @navbartopheight;
	}
	.wishwall-icon-a {
		line-height: @navbartopheight;
		position: absolute;
		right: 0px;
		font-size: 20px;
		color: #fff;
	}
}
.visitors {
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: 0;
	img {
		width: 23px;
		border-radius: 50%;
		position: relative;
		top: 8.5px;
		margin-right: 10px;
		float: left;
	}
	img:first-child {
		margin-left: 5px;
	}
	img:last-child {
		margin-right: 5px;
	}
}
.userinfo-navbar-middle {
	margin-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
	border: none;
	min-height: 39px;
	 a {
		color: @themecolor;
		font-size: 18px;
		text-align: center;
		line-height: 37px;
		padding: 0;
		width: 100%;
	}
	.active {
		border-bottom: 3px solid fade(@themecolor, 50%);
	}
	.row {
		margin: 0;
		.col-xs-6 {
			padding: 0;
		}
		.col-xs-6:first-child {
			padding-right: 4px; 
		}
		.col-xs-6:last-child {
			padding-left: 4px;
		}
	}
	
}

.blessmessage-con {
	position: relative;
}
.headimg-con {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	top: -25px;
	left: 6px;
	display: inline-block;
	text-align: center;
	img {
		position: relative;
		width: 42px;
		height: 42px;
		top: 4px;
	}
}
.blessuser-con {
	display: inline-block;
	position: relative;
	left: 50px;
	top: 5px;
	left: 56px;
}
.bless-praise {
	z-index: 1;
	float: right;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	right: 10px;
	text-align: center;
	border: none;
	background-color: transparent;
	a {
		color: rgba(0, 0, 0, 0.5);
	}
	p {
		margin: 0;
	}
}
.had-praise {
	color: #ff5247;
}
.bless-noimg {
	height: 30px;
}
.wishwall-search-navbar {
	.navbar-brand-left {
		padding: 0px;
		float: left;
		width: inherit;
	}
	.btn {
		line-height: @navbartopheight;
		padding-left: 5px;
	}
	a,span{
		height: @navbartopheight;
		font-size: 18px;
		color: white;
	}
	i {
		color: white;
		font-size: 18px;
	}
	span {
		display: inline-block;
		line-height: @navbartopheight;
	}
	input {
		width: 60%;
		margin-top: 5.5px;
		height: 24px;
		display: inline-block;
	}
	.fa-remove {
		font-size: 20px;
		margin-left: 5px;
	}
}
@searchspanheight: 63px;
@searchtypeheight: 58px;
.wishwall-search-content {
	.row {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 8px;
	}
	.search-type {
		margin-bottom: 0;
		.col-xs-12 {
			height: @searchtypeheight;
			line-height: @searchtypeheight;
			color: #c5bfbe;
			font-size: 18px;
			text-align: center;
		}
	}
	.search-school-area {
		color: #9f9493;
		font-size: 18px;
		.col-xs-6:first-child {
			padding-left: 8px;
			padding-right: 4px;
		}
		.col-xs-6:last-child {
			padding-right: 8px;
			padding-left: 4px;
		}
		span {
			display: inline-block;
			width: 100%;
			height: @searchspanheight;
			text-align: center;
			line-height: @searchspanheight;
			background-color: white;
		}
	}

}

.msg-content {
	.message-navbar-top {
		.navbar-brand {
			line-height: 35px;
		}
		color: #fff;
	}
	.row {
		margin: 8px;
		.col-xs-12 {
			height: 63px;
			background-color: #fff;
			padding: 10px;

		}
	}
	.greenbox {
		display: inline-block;
		height: 45px;
		width: 45px;
		border-radius: 50%;
		background-color: fade(green, 55%);
		.badge {
			float: right;
			background-color: #f00;
			font-weight: bold;
		}
	}
	p {
		display: inline-block;
		vertical-align: top;
		line-height: 45px;
		height: 45px;
		margin-left: 10px;
	}
}
.setting-navbar-top {
	color: #fff;
	.navbar-brand-center {
		line-height: @navbartopheight;
	}
	.wishwall-icon-a {
		position: absolute;
		left: 0;
		font-size: 30px;
		color: #fff;
	}
}

.wishwall-notice {
	.timestamp {
		color: fade(#000, 70%);
	}
	.row .col-xs-12 {
		height: auto;
	}
	.col-xs-12 {
		p {
			margin: 0;
			height: auto;
			line-height: normal;
			display: block;
		}
	}
}

.msg-container div p {
	display: inline-block;
	background-color: gray;
	border-radius: 5px;
	font-size: 1.6rem;
	padding: 0 5px;
}
.this {
	text-align: right;
}

.badge:empty {
	display: inline-block;
}

.wishwall-form-content {
	.writewish-textarea {
		position: relative;
		height: 200px;
		background-color: white;
		padding: 10px;
		.wishwall-icon-camera {
			font-size: 25px;
			position: absolute;
			bottom: 0;
		}
		.wishwall-word-num {
			float: right;
		}
		textarea {
			padding: 0;
			border: none;
			height: 160px;
			box-shadow: none;
		}
		textarea:focus {
			box-shadow: none;
		}
	}
	.wishwall-type, .writewish-info{
		margin-left: 10px;
		color: fade(#000, 30%);
	}
	.row {
		margin: 0;
	}
	.writewish-type  .col-xs-6{
		height: 70px;
		line-height: 70px;
		padding: 0;
		background-color: #fff;
		text-align: center;
		hr {
			display: inline-block;
			float: right;
			border-right: 1px solid fade(#000, 30%);
			height: 30px;
			margin: 20px 0;
		}
	}
	.wishwall-writewish-info {
		height: 70px;
		background-color: #fff;
		.row {
			height: 100%;
		}
		.col-xs-5 {
			height: 100%;
			line-height: 35px;
			text-align: left;
		}
		.col-xs-2,.col-xs-10 {
			height: 100%;
			i {
				float: right;
				font-size: 40px;
				height: 100%;
				line-height: 70px;
				color: fade(#000, 30%);
			}
			p {
				height: 100%;
				text-align: center;
				line-height: 70px;
				color: fade(#000, 30%);
			}
		}
	}
	.wishtype_red {
		color: red;
	}
	button {
		width: 100%;
		height: 50px;
		font-size: 17px;
	}
}

.wishwall-write-info {
	height: 150px;
	margin-top: 10px;
	background-color: #fff;
	padding: 0 10px;
	.row {
		margin: 0;
		height: 50px;
		border-bottom: 1px solid fade(#000, 15%);
	}
}