html,body {
	color: #000;
}
.navbar-brand-right {
	float: right;
	padding-right: 40px;
}
.navbar-brand-left {
	padding-left: 40px;
}
.wishwall-icon-home {
	font-size: 25px;
}
.wishwall-navbar-app {
	min-height: 40px;
	// height: 40px;
}
.wishwall-navbar-app-bottom {
	height: 40px;
	background-color: white;
}
.wishwall-navbar-top {
	margin-bottom: 0;
	background-color: #ff5247;
	border: none;
	color: rgba(255, 255, 255, .5);
}
.navbar-active {
	color: white;
}
.wishwall-navbar-app .navbar-brand {
	height: 40px;
	line-height: 10px;
}
.wishwall-navbar-app .btn-navbar {
	line-height: 45px;
}
.auto-roll-img {
	height: 115px;
}
.wishwall-col-6 {
	padding-left: 5px;
	padding-right: 5px;
}
.wishwall-panel-body {
	padding: 5px;
}
.headimg {
	width: 33px;
	height: 33px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	vertical-align: inherit;
}
.username {
	display: inline-block;
	margin: 0;
	font-size: 12px;
	font-weight: bold;
}
.school_area {
	font-size: 10px;
	font-weight: normal;
	color: gray;
}
.wishborder {
	margin: 5px 9px;
}
.wish_content {
	// font-weight: ;
	// text-indent: 9px;
	padding: 0 9px;
	word-wrap: break-word;
}
.wishwall-app-body {
	background-color: rgba(255,255,255,0.7);
}
.wishwall-section {
	background: none;
}
.wishwall-panel {
	margin-bottom: 10px;
	border-radius: 0;
}
.wishwall-carousel-indicators {
	margin-bottom: 0;
	bottom: 0;
}
.wishwall-carousel-indicators li {
	width: 5px;
	height: 5px;
}
.wishwall-carousel-indicators .active {
	width: 7px;
	height: 7px;
}