<div class="navbar navbar-app wishwall-navbar-app wishwall-navbar-top setting-navbar-top ">
	<!-- Top Navbar -->
	<div class="navbar-brand navbar-brand-center">
		注意事项
		<a href="javascript:void(0)" class="btn btn-navbar wishwall-icon-a" ng-click="goBack()">
			<img src="http://7xnxuw.com1.z0.glb.clouddn.com/3_return.png" alt=""></a>
	</div>

</div>
<div class="attention-content" ng-show="attentiontype === '1'">
	<h4>愿望流程</h4>
	<ul>
		<li>女生发布愿望到许愿墙 →</li>
		<li>男生从许愿墙领取该愿望→</li>
		<li>男生获得女生个人信息，同时女生获得男生个人信息（在个人中心的愿望详情处查看）→</li>
		<li>男生完成愿望，女生确认愿望已完成</li>
	</ul><br>
	<h4>许愿墙注意事项</h4>
	<ul>
		<li>发布的文字内容限定在 140 字以内</li>
		<li>每次最多可发布 1 张图片</li>
		<li>女生可以发布的愿望数量不受限制</li>
		<li>若愿望一直未被领取，该愿望不会消失</li>
	</ul><br>
	<h4>祝福墙注意事项</h4>
	<ul>
		<li>发布的文字内容限定在 140 字以内</li>
		<li>每次最多可发布 1 张图片</li>
	</ul>
</div>
<div class="attention-content" ng-show="attentiontype === '2'">
	<h4>暗恋匹配流程</h4>
	<ul>
		<li>在个人中心的设置页面进入暗恋匹配功能页</li>
		<li>填写自己的真实姓名与对方的真实姓名</li>
		<li>暗恋对象只能填写一个，未匹配成功之前可以修改</li>
		<li>匹配成功后会有邮件通知</li>
	</ul>
</div>