html,
body {
  color: #000;
}
textarea {
  resize: none;
}
.navbar-brand-right {
  float: right;
  padding-right: 40px;
}
.navbar-brand-left {
  padding-left: 40px;
}
.wishwall-icon {
  font-size: 25px;
}
.wishwall-navbar-app {
  min-height: 40px;
}
.wishwall-navbar-app a.active {
  color: white;
}
.wishwall-navbar-app .navbar-brand {
  height: 40px;
  line-height: 10px;
}
.wishwall-navbar-app .btn-navbar {
  line-height: 45px;
}
.wishwall-navbar-app-bottom {
  height: 40px;
  background-color: white;
}
.wishwall-navbar-app-bottom .wishwall-icon-home {
  font-size: 25px;
}
.wishwall-navbar-app-bottom i {
  color: rgba(0, 0, 0, 0.5);
}
.wishwall-navbar-app-bottom .active i {
  color: #ff5247;
}
.wishwall-navbar-top {
  margin-bottom: 0;
  background-color: #ff5247;
  border: none;
  color: rgba(255, 255, 255, 0.5);
}
.wishwall-navbar-top a {
  color: rgba(255, 255, 255, 0.5);
}
.auto-roll-img {
  height: 115px;
}
.wishwall-section .wishwall-panel {
  border: none;
}
.wishwall-col-6,
.blesswall-con {
  padding-left: 5px;
  padding-right: 5px;
}
.wishwall-panel-body,
.blesswall-panel-body {
  padding: 0;
}
.headimg {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  vertical-align: inherit;
}
.username {
  display: inline-block;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}
.school_area {
  font-size: 10px;
  font-weight: normal;
  color: gray;
}
.wishborder {
  margin: 5px 9px;
}
.wish_content {
  padding: 0 9px;
  word-wrap: break-word;
}
.wishwall-app-body {
  background-color: rgba(255, 255, 255, 0.7);
}
.wishwall-section,
.blesswall-section {
  background: none;
}
.wishwall-panel {
  margin-bottom: 5px;
  border-radius: 0;
}
.blesswall-panel {
  margin-bottom: 5px;
  border-radius: 0;
}
.wishwall-carousel-indicators {
  margin-bottom: 0;
  bottom: 0;
}
.wishwall-carousel-indicators li {
  width: 5px;
  height: 5px;
}
.wishwall-carousel-indicators .active {
  width: 7px;
  height: 7px;
}
.wishwall-list-group {
  margin-bottom: 0;
}
.wishwall-list-group .user-info-bg {
  height: 180px;
  padding: 25px 0 0 0;
  background-image: url('/src/img/1.jpg');
  background-size: cover;
}
.wishwall-list-group .user-info-bg img.userheadimg {
  width: 64px;
  border-radius: 50%;
}
.wishwall-list-group .user-info-bg span {
  position: absolute;
  color: #fff;
  font-weight: bold;
  margin-top: 5px;
  height: 35px;
}
.wishwall-list-group .user-info-bg .info_school_area {
  margin-right: 20px;
}
.wishwall-list-group .user-info-bg .info_college_name {
  margin-left: 20px;
}
.userinfo-navbar-top {
  color: #ffffff;
}
.visitors {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-top: 40px;
}
.visitors img {
  width: 30px;
  border-radius: 50%;
  position: relative;
  top: 10px;
  margin-right: 10px;
  float: left;
}
.visitors img:first-child {
  margin-left: 5px;
}
.visitors img:last-child {
  margin-right: 5px;
}
.userinfo-navbar-middle {
  margin-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border: none;
  min-height: 40px;
}
.userinfo-navbar-middle a {
  color: #ff5247;
  font-size: 18px;
  text-align: center;
  line-height: 37px;
  padding: 0;
  width: 100%;
}
.userinfo-navbar-middle .active {
  border-bottom: 3px solid rgba(255, 82, 71, 0.5);
}
.userinfo-navbar-middle .row {
  margin: 0;
}
.userinfo-navbar-middle .row .col-xs-6 {
  padding: 0;
}
.userinfo-navbar-middle .row .col-xs-6:first-child {
  padding-right: 5px;
}
.userinfo-navbar-middle .row .col-xs-6:last-child {
  padding-left: 5px;
}
.blessmessage-con {
  position: relative;
}
.headimg-con {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #fff;
  top: -25px;
  display: inline-block;
  text-align: center;
}
.headimg-con img {
  position: relative;
  width: 42px;
  height: 42px;
  top: 4px;
}
.blessuser-con {
  display: inline-block;
}
.bless-praise {
  height: inherit;
  color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
