body {
  font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}
.section {
  padding: 16px;
  background-color: #e8e7e7;
}
.panel {
  margin-bottom: 16px;
  border-radius: 0px;
}
.navbar-brand-right {
  float: right;
  padding-right: 40px;
}
.navbar-brand-left {
  padding-left: 40px;
}
.wishwall-icon-home {
  font-size: 25px;
  color: #ff5247;
}
.wishwall-navbar-app {
  min-height: 40px;
}
.wishwall-navbar-top {
  background-color: #ff5247;
  color: #fff;
  border: none;
}
.wishwall-navbar-app-bottom {
  height: 40px;
  background-color: #fff;
}
.wishwall-navbar-top {
  margin-bottom: 0;
  background-color: #ff5247;
  border: none;
  color: rgba(255, 255, 255, 0.5);
}
.navbar-active {
  color: white;
}
.wishwall-navbar-app .navbar-brand {
  height: 40px;
  line-height: 10px;
}
.wishwall-navbar-app .btn-navbar {
  line-height: 45px;
}
.auto-roll-img {
  height: 115px;
}
.wishwall-col-6 {
  padding-left: 5px;
  padding-right: 5px;
}
.wishwall-panel-body {
  padding: 5px;
}
