<div class="navbar navbar-app wishwall-navbar-app wishwall-navbar-top setting-navbar-top">
	<div class="navbar-brand navbar-brand-center">
		所在校区
		<a href="javascript:void(0)" class="btn btn-navbar wishwall-icon-a" ng-click="goBack()"> <i class="fa fa-angle-left fa-navbar wishwall-icon-cog"></i>
		</a>
	</div>
</div>
<form>
	<div class="wishwall-write-info select-school">
		<div class="row" ng-click="setSchoolArea('大学城')">
			<label>大学城校区</label>
		</div>
		<div class="row" ng-click="setSchoolArea('东风路')">
			<label>东风路校区</label>
		</div>
		<div class="row" ng-click="setSchoolArea('龙洞')">
			<label>龙洞校区</label>
		</div>
		<div class="row row-noborder" ng-click="setSchoolArea('番禺')">
			<label>番禺校区</label>
		</div>
	</div>
</form>