<div class="scrollable">
    <div class="scrollable-content msg-content">
        <div class="navbar navbar-app wishwall-navbar-app wishwall-navbar-top message-navbar-top">
            <!-- Top Navbar -->
            <div class="navbar-brand navbar-brand-center">消息</div>

        </div>
        <div class="row">
            <div class="col-xs-12" ui-sref="user.notice">
            	<div class="greenbox"><span class="badge"ng-bind="SystemMsg.length" ng-if="SystemMsg.length !== 0"></span></div><p>通知</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            	<div class="greenbox"></div><p>获赞</p>
            </div>
        </div>
        <button ng-click="clearMsg()">click to clear the msg</button>
    </div>
</div>