<div class="scrollable">
    <div class="scrollable-content">
        <div class="navbar navbar-app wishwall-navbar-app wishwall-navbar-top userinfo-navbar-top">
            <!-- Top Navbar -->
            <div class="navbar-brand navbar-brand-center" ng-bind="user.nickname">
            </div>
            
        </div>
        <div class="list-group text-center wishwall-list-group">
            <div class="list-group-item user-info-bg">
            	<img ng-src="{{user.headimgurl}}96" alt="" class="userheadimg">
                <br>
                <span class="info_school_area">{{user.school_area}}校区</span>
                <span ng-bind="user.college_name" class="info_college_name"></span>
                <div class="visitors" wishwallvisitor>
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                </div>
            </div>
        </div>
        <div class="navbar navbar-app userinfo-navbar-middle">
            <div class="navbar-brand navbar-brand-left">
                <a ui-sref="index.wishwall" ui-sref-opts="{reload: true}" class="active">许愿墙</a>
            </div>
            <div class="navbar-brand navbar-brand-right">
                <a ui-sref="index.blesswall" ui-sref-opts="{reload: true}">祝福墙</a>
            </div>
        </div>

        <div ui-view></div>
    </div>
</div>

