<div class="scrollable">
    <div class="scrollable-content">
        <div class="navbar navbar-app wishwall-navbar-top userinfo-navbar-top">
            <!-- Top Navbar -->
            <div class="navbar-brand navbar-brand-center" ng-bind="user.nickname">
                
            </div>
            
        </div>
        <div class="list-group text-center">
            <div class="list-group-item user-info-bg">
            	<img ng-src="{{user.headimgurl}}96" alt="" class="userheadimg">
                <div class="visitors">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                    <img ng-src="{{user.headimgurl}}46" alt="">
                </div>
            </div>
        </div>
        <div ui-view></div>
    </div>
</div>

