<div class="section wishwall-section">
    <div class="row">
        <div class="col-xs-6 wishwall-col-6">
            <div class="panel panel-default wishwall-panel" ng-repeat="wish in oddwishes">
                <div class="panel-body wishwall-panel-body">
                    <div class="wishinfo-panel">
                        <img ng-src="{{wish.userheadimg}}64" alt="" class="headimg">

                        <div class="username">
                            <span>{{wish.username}}</span>
                            <br>
                            <span class="school_area">{{wish.school_area}}</span>
                        </div>

                        <hr class="wishborder">
                        <p class="wish_content" ui-sref="wish.detail({wishId: wish._id})">{{wish.wish}}</p>
                    </div>

                    <img src="/public/img/1.jpg" alt=""></div>
            </div>
        </div>
        <div class="col-xs-6 wishwall-col-6">
            <div class="panel panel-default wishwall-panel" ng-repeat="wish in evenwishes">
                <div class="panel-body wishwall-panel-body">
                    <div class="wishinfo-panel">
                        <img ng-src="{{wish.userheadimg}}64" alt="" class="headimg">
                        <div class="username">
                            <span>{{wish.username}}</span>
                            <br>
                            <span class="school_area">{{wish.school_area}}</span>
                        </div>
                        <!-- <br>
                        -->
                        <hr class="wishborder">
                        <p class="wish_content" ui-sref="wish.detail({wishId: wish._id})">{{wish.wish}}</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>