<!DOCTYPE html>
<html lang="en" ng-app="gdutWishWall">

<head>
    <meta charset="UTF-8">
    <title>许愿墙</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--build:css public/css/app.css-->
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/main.css">
    <!--endbuild-->
    <!-- <link rel="stylesheet" href="http://7xnxuw.com1.z0.glb.clouddn.com/font-awesome.min.css"> -->
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
</head>

<body>

    <div class="app" >
        <div class='app-body wishwall-app-body'>
            <div class='app-content'>
                <div ui-view></div>
            </div>
        </div>
        <div ng-controller="LeaderCtrl">
            <div class="navbar wishwall-navbar-app wishwall-navbar-app-bottom navbar-fixed-bottom"  selecebox wishwallmodal>
                <a href="javascript:void(0)" class="btn btn-navbar active wishwall-navbar-bottom-btn" ui-class ui-sref="index.wishwall" ui-sref-opts="{reload: true}"> <i class="fa fa-home wishwall-icon-home fa-navbar"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-navbar wishwall-navbar-bottom-btn" data-toggle="modal" data-target="#myModal"> <i class="fa fa-search wishwall-icon-home fa-navbar"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-navbar select-box-button wishwall-navbar-bottom-btn active-longer">
                    <i class="fa fa-plus wishwall-icon-home fa-navbar"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-navbar wishwall-navbar-bottom-btn" ui-sref="user.message" ng-click="cancelMsgCount()">
                    <i class="fa fa-comment wishwall-icon-home fa-navbar"></i>
                    <span class="badge" ng-if="unread_num !== 0"></span>
                </a>
                <a href="javascript:void(0)" class="btn btn-navbar wishwall-navbar-bottom-btn" ui-sref="userinfo({userId: user._id})">
                    <i class="fa fa-user wishwall-icon-home fa-navbar"></i>
                </a>
                <div class="select-box">
                    <a href="javascript:void(0)" class="btn btn-navbar selection" ui-sref="user.writewish" >发愿望</a>
                    <a href="javascript:void(0)" class="btn btn-navbar selection" ui-sref="user.writebless">发祝福</a>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            <div class="navbar navbar-app wishwall-navbar-app wishwall-navbar-top wishwall-search-navbar">
                                <!-- Top Navbar -->
                                <div class="navbar-brand navbar-brand-left">
                                    <div class="btn-group">
                                        <a ui-turn-on='myDropdown' class='btn'>
                                            <span ng-model="searchwhere" ng-bind="searchwhere"></span>
                                            <i class="fa fa-angle-down"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a ng-click="searchSelect(1)">许愿墙</a>
                                            </li>
                                            <li>
                                                <a ng-click="searchSelect(2)">祝福墙</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <input type="search" class="form-control" placeholder="对方昵称 or 愿望关键字" ng-model="searchinput">
                                <i class="fa fa-remove" ng-click="clearInput()"></i>
                            </div>
                            <div class="wishwall-search-content">
                                <div class="row search-type">
                                    <div class="col-xs-12">按女生校区</div>
                                </div>
                                <div class="row search-school-area">
                                    <div class="col-xs-6">
                                        <span>大学城校区</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <span>龙洞校区</span>
                                    </div>
                                </div>
                                <div class="row search-school-area">
                                    <div class="col-xs-6">
                                        <span>东风路校区</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <span>全校区</span>
                                    </div>
                                </div>
                                <div class="row search-type">
                                    <div class="col-xs-12" ng-if="searchwhere=='许愿墙'">按愿望类型</div>
                                    <div class="col-xs-12" ng-if="searchwhere=='祝福墙'">按获赞数目</div>
                                </div>
                                <div class="row search-school-area">
                                    <div class="col-xs-6">
                                        <span ng-if="searchwhere=='许愿墙'">实物类</span>
                                        <span ng-if="searchwhere=='祝福墙'">从高到低</span>
                                    </div>
                                    <div class="col-xs-6">
                                        <span ng-if="searchwhere=='许愿墙'">耗时类</span>
                                        <span ng-if="searchwhere=='祝福墙'">从低到高</span>
                                    </div>
                                </div>
                                <div class="row search-school-area">
                                    <div class="col-xs-6">
                                        <span ng-if="searchwhere=='许愿墙'">全部类</span>
                                        <span ng-if="searchwhere=='祝福墙'">任性不排</span>
                                    </div>
                                    <div class="col-xs-6"></div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--build:js public/js/index.js -->
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="public/js/infinite-scroll.js"></script>
    <script src="components/socket.io-client/socket.io.js"></script>
    <script src="public/js/app.js"></script>
    <script src="public/js/services.js"></script>
    <script src="public/js/directives.js"></script>
    <script src="public/js/controllers.js"></script>

    <!--endbuild-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</body>

</html>