<!DOCTYPE html>
<html lang="en" ng-app="gdutWishWall">

<head>
    <meta charset="UTF-8">
    <title>许愿墙</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform " />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--build:css public/css/app.css-->
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/main.css">
    <!--endbuild-->
</head>

<body>

    <div class="app" wishwall>

        

        

        <!-- App body -->

        <div class='app-body wishwall-app-body'>
            <div class='app-content'>

                <div ui-view></div>
            </div>
        </div>
        <div class="navbar wishwall-navbar-app wishwall-navbar-app-bottom navbar-fixed-bottom" ng-controller="LeaderCtrl" selecebox>
                <a href="javascript:void(0)" class="btn btn-navbar active wishwall-navbar-bottom-btn" ui-class ui-sref="index.wishwall" ui-sref-opts="{reload: true}"> <i class="fa fa-home wishwall-icon-home fa-navbar"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-navbar wishwall-navbar-bottom-btn" ui-sref="wish.search"> <i class="fa fa-search wishwall-icon-home fa-navbar"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-navbar select-box-button wishwall-navbar-bottom-btn active-longer">
                    <i class="fa fa-plus wishwall-icon-home fa-navbar"></i>
                </a>
                <a href="javascript:void(0)" class="btn btn-navbar wishwall-navbar-bottom-btn" ui-sref="user.message" ng-click="cancelMsgCount()">
                    <i class="fa fa-comment wishwall-icon-home fa-navbar"></i>
                    <span class="badge" ng-if="unread_num !== 0"></span>
                </a>
                <a href="javascript:void(0)" class="btn btn-navbar wishwall-navbar-bottom-btn" ui-sref="userinfo({userId: user._id})">
                    <i class="fa fa-user wishwall-icon-home fa-navbar"></i>
                </a>
            <div class="select-box">
                    <a href="javascript:void(0)" class="btn btn-navbar selection" ui-sref="user.writewish" >
                        发愿望
                    </a>
                    <a href="javascript:void(0)" class="btn btn-navbar selection" ui-sref="user.writebless">
                        发祝福
                    </a>
            </div>
        </div>

    </div>

    <!-- Modals and Overlays -->

    <!--build:js public/js/index.js -->
    <script src="components/jquery/dist/jquery.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <!--<script src="components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>-->
    <script src="public/js/infinite-scroll.js"></script>
    <script src="components/socket.io-client/socket.io.js"></script>
    <script src="public/js/app.js"></script>
    <script src="public/js/services.js"></script>
    <script src="public/js/directives.js"></script>
    <script src="public/js/controllers.js"></script>

    <!--endbuild-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</body>

</html>
